<section class="nav-tab">
    <ul>
        <li>
            <a href="/javascript">Javascript</a>
        </li>
        <li>
            <a href="/css3">CSS</a>
        </li>
        <li>

            <a href="/html5">HTML5</a>
        </li>
        <li>
            <a href="/github">Github</a>
        </li>
        <li>

            <a href="/nodejs">Nodejs</a>
        </li>
        <li>

            <a href="/databse">Database</a>
        </li>
        <li>

            <a href="/algorithm">Algorithm</a>
        </li>
    </ul>
</section>
