<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Blue IT</title>
    <link rel="shortcut icon" href="./assets/images/logo.jpg" />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/tablist.css" />

</head>

<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/assets/images/header_logo.jpg" alt="Blue IT logo">
            </a>
        </div>

        <div class="menu">
            <div class="menu_small">
                <img src="/assets/nav_icons/menu.svg" alt="menu icon">
            </div>
            <ul>
                <li>Homepage</li>
                <li>Posts</li>
                <li>Dashboard</li>

            </ul>
        </div>
        <div class="search">
            <input type="text" placeholder="Search Questions">
            <span class="search-icon">
                <img src="/assets/nav_icons/search.svg" alt="">
            </span>
        </div>
        <button class="uploadBtn">Upload</button>

    </header>
    <main>   
        {{{body}}}
    </main>


</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/javascripts/menu.js"></script>

</html>
