<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Blue IT</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" /> --}}
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
    {{{body}}}
</body>

</html>
