<section class="new-question">
    <form id="addQuestion">
      
<label for="title">Title</label>
<textarea name="" id="" cols="30" rows="10"></textarea>
<label for=""></label>
<textarea name="" id="" cols="30" rows="10"></textarea>
        </div>





    </form>


</section>
