{{>fast-nav}}


<section class="post-list">
    {{#each posts as |post|}}

    <div class="post">
        <div class="post-head">
            <a href="/questions/{{id}}">
                <h3>{{title}}</h3>
            </a>
        </div>
    {{> post-list-item post}}
    </div>
    {{/each}}
</section>
