<div class="container right-panel-active">
    <!-- SIGN UP -->
    <div class="container_form container--signup">
        <form class="form" id="signUp-form">
            <h2 class="form_title">SIGN UP</h2>
            <input type="text" placeholder="User" class="input" />
            <input type="email" placeholder="Email" class="input" />
            <input type="password" placeholder="Password" class="input" />
            <button class="btn">SIGN UP</button>
        </form>
    </div>

    <!-- SIGN IN -->
    <div class="container_form container--signin">
        <form class="form" id="signIn-form">
            <h2 class="form_title">SIGN IN</h2>
            <input type="email" placeholder="Email" class="input" />
            <input type="password" placeholder="Password" class="input" />
            <button class="btn">SIGN IN</button>
        </form>
    </div>

    <!-- OVERLAY -->
    <div class="container_overlay">
        <div class="overlay">
            <div class="overlay_panel overlay-left">
                <button class="btn" id="signIn">SIGN IN</button>
            </div>
            <div class="overlay_panel overlay-right">
                <button class="btn" id="signUp">SIGN UP</button>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/login.js"></script>
