<section class="post-info">
    <div class="question-info">
        question-summary
    </div>
    <div class="question-title">
        question-type
    </div>
    <div class="question-answer">
        question-answer
    </div>
    post-info
</section>
<section class="comments">
    <div class="comment-summary">
        comment summary
    </div>
    <div class="comment-list">
        <div class="single-comment">
            single comment
        </div>
    </div>
</section>
