/* nav  */
.side-nav {
  position: fixed;
  /* top: 10px;
  left: 0px; */
  font-size: 16px;
  transition: 0.4s linear;
}


.side-nav ul {
  /* margin-top: 70px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-color: var(--blue); */
  background-color: white;
}

.side-nav ul li {
  padding: 5px 0px;
  text-align: center;
  color: var(--blue);
}

.side-nav ul li a {
  display: inline-block;
  color: var(--blue);
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.side-nav li p {
  margin-top: 10px;
}
.side-nav li img {
  width: 30px;
}

.side-nav ul li:nth-child(-n + 8):hover {
  background-color: var(--blue);
}

.side-nav ul li:nth-child(-n + 8):hover img {
  transform: translateX(-50px);
  filter: drop-shadow(rgb(255, 255, 255) 50px 0);
}

.side-nav ul li:nth-child(-n + 8):hover a {
  color: white;
}

.img-collapse {
  transform: scale(0.7);
}

.a-collapse {
  padding: 0;
}

.left-arr-collapse {
  transform: rotate(180deg);
}

.hide {
  display: none;
}

.left-arr img {
  width: 24px;
}
